<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/man-in-the-middle.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> MitM(Man in the Middle) implementation in LTE </h3>
    <ul>
      <li> Fake UE and Fake eNB: C++, C</li>
      <li> MitM relay: Python</li>
    </ul>
    <p>MitM environment was built in LTE network to verify vulnerabilities found through formal verification. In the case of Fake gNB and Fake UE, it was executed through srsRAN, and a program to relay messages between the two entities was made using python.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/LG_state.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> LTE Fuzzing </h3>
    <ul>
      <li> UE simulator: C++, C</li>
      <li> Message Analyzer(CLI based): Python</li>
    </ul>
    <p> We tried to find vulnerabilities by conducting fuzzing tests on LTE networks. The UE simulator for testing was implemented based on srsRAN, and the analyzer for analyzing the results was implemented in the form of Ubuntu CLI using python.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/5g_architecture.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 5G Core Network Testing </h3>
    <ul>
      <li> UE, gNB emulator: C, Docker, Kubernetes</li>
      <li> 5G Core Network: C, Docker, Kubernetes</li>
      <li> Packet forwarding: Python</li>
    </ul>
    <p>From 5G, each network entity runs a container-based program. In the case of 5G Core Network, each network entity is implemented and managed using kubernetes. To test this, UE and gNB emulator were implemented using kubernetes, and the program for packet forwarding was made in python.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>